:root {
  --mainColor: #494848;
  --fontColor: #f7f7f7;
  --alertColor: #ee2e3b;
  --backgroundColor: #e9ecef;
  --backgroundLightColor: #ffffff;
  --backgroundProfile: #4b79bf;
  --buttonUpload: #17a2b8;
  --borderRadius: 5%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
